body {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #777777; }

.feedback {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }
  .feedback .form-wrapper {
    position: relative;
    z-index: 1000;
    width: 40%;
    min-width: 300px;
    min-height: 580px;
    margin: auto;
    text-align: center;
    background: white;
    color: #535353; }
    .feedback .form-wrapper .feedback__close {
      position: absolute;
      right: -30px;
      top: -30px;
      width: 30px;
      height: 30px;
      padding-top: 4px;
      font-size: 30px;
      font-family: 'open_sans_condensedlight';
      cursor: pointer;
      background-color: #777777;
      color: #FFF;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      .feedback .form-wrapper .feedback__close:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        color: #d2cece; }
    .feedback .form-wrapper .feedback__title {
      display: inline-block;
      margin: 35px 0;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase; }
    .feedback .form-wrapper input,
    .feedback .form-wrapper textarea {
      margin-bottom: 20px;
      padding-left: 3px;
      width: 80%;
      color: #777777; }
      .feedback .form-wrapper input:focus,
      .feedback .form-wrapper textarea:focus {
        outline: none; }
    .feedback .form-wrapper input {
      height: 35px; }
    .feedback .form-wrapper textarea {
      height: 140px; }
    .feedback .form-wrapper .feedback-submit {
      width: 130px;
      height: 40px;
      border: none;
      background: #535353;
      color: #FFF;
      cursor: pointer;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      .feedback .form-wrapper .feedback-submit:hover {
        background: #6d6d6d; }

.main-header {
  text-align: center;
  background-color: #dcdcdc; }
  .main-header .header-row {
    padding: 10px;
    min-height: 230px; }
  .main-header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-header .logo .logo__img {
      display: inline-block;
      width: 100px;
      height: 100px; }
    .main-header .logo .logo__box {
      margin-left: 13px;
      text-align: left; }
      .main-header .logo .logo__box .logo__title {
        font-size: 1.4rem;
        font-weight: bold; }
  .main-header .contacts {
    text-align: center; }
    .main-header .contacts .contacts__num {
      display: block;
      font-family: 'open_sans_condensedlight', sans-serif;
      font-size: 2.5rem;
      line-height: 3.125rem; }
    .main-header .contacts .contacts__link {
      display: inline-block;
      margin: 20px 0;
      margin-left: 11px;
      font-size: 1.5rem;
      font-weight: bold;
      border-bottom: 2px dashed #777777;
      color: #777777;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      .main-header .contacts .contacts__link:hover {
        border-color: #919191;
        color: #919191; }

.main-nav {
  background-color: #777777; }
  .main-nav .main-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-nav .main-nav__menu .main-nav__item {
      line-height: 80px;
      font-size: 1.4rem;
      color: #FFF; }
      .main-nav .main-nav__menu .main-nav__item .main-nav__link {
        padding: 0 40px;
        text-decoration: underline;
        -webkit-text-decoration-color: transparent;
        text-decoration-color: transparent;
        border-right: 2px solid;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
        .main-nav .main-nav__menu .main-nav__item .main-nav__link:hover {
          -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff; }
      .main-nav .main-nav__menu .main-nav__item .main-nav__link_without-border {
        border: none; }

.toggle-nav {
  display: none;
  position: relative;
  padding-right: 6%;
  text-align: right;
  background-color: #777777;
  color: #FFF; }
  .toggle-nav .toggle-icon {
    margin-top: 6px;
    display: inline-block;
    cursor: pointer; }
    .toggle-nav .toggle-icon .bar1,
    .toggle-nav .toggle-icon .bar2,
    .toggle-nav .toggle-icon .bar3 {
      margin: 6px 0;
      width: 35px;
      height: 5px;
      background-color: #fff;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
  .toggle-nav .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .toggle-nav .change .bar2 {
    opacity: 0; }
  .toggle-nav .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
  .toggle-nav .main-nav__menu_toggle {
    display: none;
    padding-bottom: 50px;
    text-align: center; }
    .toggle-nav .main-nav__menu_toggle a {
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .toggle-nav .main-nav__menu_toggle a:hover {
      border-bottom: 1px solid; }
  .toggle-nav .main-nav__menu_toggle-active {
    display: block; }

.bx-wrapper {
  border: none; }

.content .content-nav__menu {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .content .content-nav__menu li:after {
    content: '/';
    margin: 0 10px; }
  .content .content-nav__menu li a {
    text-decoration: underline; }
  .content .content-nav__menu li .content-nav__active-link {
    text-decoration: none; }
  .content .content-nav__menu .content-nav__active-item:after {
    content: ''; }

.content .sidebar {
  padding-top: 40px; }
  .content .sidebar a:hover {
    text-decoration: underline; }
  .content .sidebar .siderbar-inner-menu {
    margin-left: 30px; }
    .content .sidebar .siderbar-inner-menu li {
      list-style: disc; }
      .content .sidebar .siderbar-inner-menu li .siderbar-inner-link-active {
        text-decoration: underline;
        font-weight: bold; }

.content .product img {
  display: block;
  width: 220px;
  height: 220px; }

.content .product .product-discr {
  margin-bottom: 15px; }

.content .product .product-price {
  font-weight: bold;
  font-size: 1rem; }

.content .pagination {
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #777777; }
  .content .pagination span {
    margin-right: 7px; }
  .content .pagination .pagination-active {
    font-weight: bold;
    text-decoration: underline; }

.content .site-descr {
  margin-bottom: 20px; }

.footer {
  padding: 45px 0;
  background-color: #777777;
  color: #FFF; }
  .footer .footer-nav a {
    text-decoration: underline; }
    .footer .footer-nav a:hover {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
